/*Header*/
.header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    position: fixed;
    background-color: #fff;
    z-index: 99;
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerContainer figure {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerContainer a img {
    width: 20px;
}

.navLinks {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLinks a img {
    width: 20px
}

/*Banners*/

.banner {
    color: var(--darkBlue);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.banner h1 {
    font-size: 30px;
    margin-left: 50px;
}

/*Cards*/

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    min-height: 300px;
}

.card {
    color: var(--darkBlue);
    width: 220px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card .icon {
    width: 150px;
    height: 80px;
}

.card img {
    border-radius: 10px;
    border: 2px solid var(--blue);
    width: 150px;
    height: 150px;
}

.card p {
    width: 150px;
}

/*Cards de los profesionales*/

.professional-Cards .cards {
    width: 100%;
}

.professional-Cards .cards .card {
    width: 25%;
    height: 250px;
    position: relative;
    border-radius: 0px;
}

.professional-Cards .cards .card img {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.professional-Cards .cards .card figcaption {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.144);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    bottom: 0;
    padding: 10px 0 5px 10px;
}

/*Banner de testimonios*/

.user-review {
    width: 100%;
    min-height: 400px;
    background-color: var(--light1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-review p {
    font-size: 36px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.user-review strong {
    align-self: flex-end;
    font-size: 20px;
}

/*User Register-Edit*/

.user-form {
    width: 70%;
    height: 494px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-form .form-row {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form .form-row div {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-form .form-row div input,.user-form .form-row select {
    padding: 5px;
}

/*User List*/

.booktable {
    width: 70%;
    border-collapse: separate;
}

.booktable th {
}

.booktable th,
.booktable td {
    padding: 10px;
    text-align: left;
    text-align: center;
}

.booktable button {
    color: black;
    border-radius: 5px;
    border: 2px solid transparent;
    font-size: 12px;
    padding: 8px 12px;
    transition: 0.2s ease;
}

.booktable button:hover {
    cursor: pointer;
    background-color: white;
}

.booktable .deleteButton {
    background-color: rgb(161, 0, 0);
}

.booktable .deleteButton:hover {
    color: rgb(161, 0, 0);
    border: 2px solid rgb(161, 0, 0);
}

.booktable tfoot td {
    text-align: right;
    border: none;
}

/*Footer*/
footer {
    width: 100%;
    height: 120px;
    background-color: var(--darkBlue);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    position: static;
    bottom: 0;
}

footer small {
    margin-top: 1em;
}